body {
    background: #dee2e6; /* Цвет фона */
}
.footer {
  position:fixed;
  font-style:normal;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  background-color: #787f86;
}

.footer-text-right {
  font-style:normal;
  font-size:25px;

  padding-right:40px;

  float:right;

  word-spacing:20px;

}

a.menu:hover {
  font-style:normal;
  background-color: #000;

  font-size:20px;

}
